name: ci

on:
  pull_request:
    branches: [main]

jobs:
  format_check:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Check Version
        run: node --version

      - name: Install dependencies
        run: npm ci

      - name: Run Format Check
        run: npm run format:check

      - name: Run Lint Check
        run: npm run lint


  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 21

      - name: Check Version
        run: node --version

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test -- --coverage
